In [23]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\dell\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (1.25.9)

In [24]:
import selenium
import pandas as pd
from selenium import webdriver

In [25]:
driver=webdriver.Chrome(r'C:\Users\DELL\Downloads\chromedriver.exe')

In [26]:
url='https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore'

In [27]:
driver.get(url)

In [28]:
job_title=[]
company_name=[]
job_location=[]
experience_required=[]

In [29]:
titles_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [30]:
titles_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="549c2412-2a14-4f51-9639-ab625df3b4e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="b9ce4e3a-0c8c-46a3-8d6e-315f533fdf6f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="9594e8c4-4948-4c83-8c1c-6fc031ff5614")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="2c161a95-0d9d-4f50-8c91-cc29db992f3f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="e12f385d-3cdc-46df-af21-bad46112367f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="f182e5fd-abf0-4994-bdae-1af6631cd301")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="ac160a5e-0a64-4f89-9a1a-463820d88285")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="b4c8c32e-6e4d-4e57-8aff-45fcd96ab946")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="8b94fdf2-929f-4599-9291-f3caad027f17")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="a923314a-b8dd-480f-a22f-a732bb9ba173")>]

In [31]:
for i in titles_tag:
    title=i.text
    job_title.append(title)
job_title[0:10]

['Data Scientist/Data Analyst-immediate',
 'Data Analyst',
 'Data Analyst',
 'ID&A - Data Analyst - Informatica MDM',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst - O2C - Bangalore',
 'Business Data Analyst - Database Design/Mining',
 'Data Analyst - MySQL/PostgreSQL']

In [32]:
company_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [33]:
company_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="d083246c-344a-467c-89aa-c6ac23af1eac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="8f3715eb-4c07-4a94-a4a2-5799b2002d9a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="506a1a28-c0f3-45e5-9945-a2271755a9fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="0c76e934-e761-49eb-bf48-57986086f913")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="5e129b7a-9a0c-402f-a899-708fdf910ddb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="a657c73c-cf89-484e-832a-0879de230007")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="bdc50d9d-2b99-43ba-94b1-94a57f703ece")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="0fa88a64-1b4a-4755-ae09-908b0c92cc36")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="2880becf-f6e6-47c8-962d-ff8d57700bdd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="6704306d-a269-438d-a2db-133c66901c1f")>]

In [34]:
for i in company_tag:
    company=i.text
    company_name.append(company)
company_name[0:10]

['CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'Applied Materials',
 'Cognizant Technology Solutions India Pvt Ltd',
 'Shell India Markets Private Limited',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Cognizant Technology Solutions India Pvt Ltd',
 'Shell India Markets Private Limited',
 'RANDSTAD INDIA PVT LTD',
 'AugmatrixGo',
 'Astegic']

In [35]:
location_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

In [36]:
location_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="c402c2d0-957d-457e-b03f-83106c71c804")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="94042c6e-01a0-450b-b937-76e0a840da9f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="29a92d83-3731-4d27-8a92-c013427c3bb1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="556649d7-e297-4951-9c2d-aedf762198cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="9f572f84-5ac1-4c14-9cfe-9eff1d448bb6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="3a0795c4-8f49-43fb-8dd5-2505a9eaaee8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="d9d70490-8da7-4c0f-a7e1-14320da738ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="2fc46988-d786-4b16-a6b3-c83efd5ba6c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="74f83e75-2a1e-4e47-a0cb-3967a9cc4a08")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="825e2aeb-0e88-46c7-8774-569ac6f74d7b")>]

In [37]:
for i in location_tag:
    location=i.text
    job_location.append(location)
job_location[0:10]

['Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Mumbai, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru, Kolkata',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Pune, Mumbai, Bengaluru, Hyderabad, Noida, Jaipur']

In [38]:
experience_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

In [39]:
experience_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="d4bff378-d1dd-44a4-b056-31aa4027bf37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="e2a053a3-1146-4c3d-80c1-d877b1a60492")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="e3490ab6-747e-4749-af4b-5eb196fa0899")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="60b18dd0-5c5c-42b5-b720-5924b5ae5c31")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="34b67c2a-6787-4577-bd32-a32f3e0fa30c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="1a09eaf3-0bcb-42f5-b7ab-163ddd5c1271")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="7e915fd6-213d-439a-9f42-d217328fb1e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="3ce50d7a-4635-4d6e-a068-2ff67074f421")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="c1937373-7cd7-4847-a0d7-3009eebfd478")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5926ec6d2cd969183b01bd698f4cd247", element="c0755a4d-128d-47e2-835c-362eb9866aaa")>]

In [40]:
for i in experience_tag:
    experience=i.text
    experience_required.append(experience)
experience_required[0:10]

['0-3 Yrs',
 '6-11 Yrs',
 '2-3 Yrs',
 '6-9 Yrs',
 '2-7 Yrs',
 '3-4 Yrs',
 '5-8 Yrs',
 '2-4 Yrs',
 '2-5 Yrs',
 '5-10 Yrs']

In [41]:
print(len(job_title),len(company_name),len(job_location),len(experience_required))

20 20 20 20

In [42]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_title
jobs['company']=company_name
jobs['location']=job_location
jobs['experience']=experience_required

In [43]:
jobs

,title,company,location,experience
0,Data Scientist/Data Analyst-immediate,CAIA-Center For Artificial Intelligence & Adva...,"Chennai, Pune, Bengaluru, Hyderabad",0-3 Yrs
1,Data Analyst,Applied Materials,Bengaluru,6-11 Yrs
2,Data Analyst,Cognizant Technology Solutions India Pvt Ltd,"Mumbai, Bengaluru, Hyderabad",2-3 Yrs
3,ID&A - Data Analyst - Informatica MDM,Shell India Markets Private Limited,Bengaluru,6-9 Yrs
4,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,Bengaluru,2-7 Yrs
5,Data Analyst,Cognizant Technology Solutions India Pvt Ltd,"Bengaluru, Kolkata",3-4 Yrs
6,Data Analyst,Shell India Markets Private Limited,Bengaluru,5-8 Yrs
7,Data Analyst - O2C - Bangalore,RANDSTAD INDIA PVT LTD,Bengaluru,2-4 Yrs
8,Business Data Analyst - Database Design/Mining,AugmatrixGo,Bengaluru,2-5 Yrs
9,Data Analyst - MySQL/PostgreSQL,Astegic,"Pune, Mumbai, Bengaluru, Hyderabad, Noida, Jaipur",5-10 Yrs
10,Hiring For Data Analyst On Contractual Role,Flipkart Internet Private Limited,Bengaluru,1-3 Yrs
11,Data Analyst (Telcom domain),Oracle India Pvt. Ltd.,Bengaluru,5-10 Yrs
12,Data Analyst,IBM India Pvt. Limited,Bengaluru,5-8 Yrs
13,Hiring For Data Analyst (On Contractual Role),Flipkart Internet Private Limited,Bengaluru,2-4 Yrs
14,SENIOR DATA ANALYST,McAfee Software (India) Pvt. Ltd,Bengaluru,4-7 Yrs
15,Sr Data Analyst - Contractual Role | Nike,ANSR GLOBAL CORPORATION PRIVATE LIMITED,Bengaluru,5-8 Yrs
16,Data Analyst,Snaphunt,Bengaluru,3-5 Yrs
17,Data Analyst / Scientist,Instamojo,Bengaluru,2-5 Yrs
18,Data Analyst / Scientist,Blisaura Events Studio Pvt Ltd,Bengaluru,2-5 Yrs
19,Data Analyst,reach52,Bengaluru,4-6 Yrs