In [1]:
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
driver=webdriver.Chrome(r'C:\Users\DELL\Downloads\chromedriver.exe')

In [3]:
url='https://www.naukri.com/data-scientist-jobs?k=data%20scientist&cityType=25.9.31&ctcFilter=3to6'

In [4]:
driver.get(url)

In [5]:
job_title=[]
company_name=[]
job_location=[]
experience_required=[]

In [6]:
titles_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [7]:
titles_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="12a273ba-ef7b-4009-ad79-e3d9d709c5e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="b669f7df-3790-4341-948d-17ca938fb17e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="d9dba095-8084-4af3-aff9-6e2fc3bc255e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="455668b7-5e67-4e03-93fc-86586cb74991")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="3b66e3a0-f85d-4328-a517-17fd2fe9b43f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="5cf29ec7-9277-4623-a80c-afbfeaea4c26")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="71868396-85b7-4077-aafa-cc0917677f85")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="2cc60ab8-e36f-46fb-932f-6eb88941f6e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="1f51359e-4aed-4b87-aec9-fcb37d279a76")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="c0a32074-1db7-4e84-9df6-87385d122be9")>]

In [8]:
for i in titles_tag:
    title=i.text
    job_title.append(title)
job_title[0:10]

['Data Scientist - Python/Machine Learning',
 'Tech Mahindra hiring For Data Scientist- Noida',
 'Data Scientist - Commercial Planning and Analysis',
 'Data Scientist',
 'Data Scientist - Machine Learning/ Artificial Intelligence - IT',
 'GCP Skilled Analytics Resources (Data engineer / Data scientists)',
 'Data Scientist',
 'Data Scientist Machine Learning',
 'Data Scientist',
 'Business Analyst - Data Scientist']

In [9]:
company_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [10]:
company_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="2bfb019d-a423-4729-90e2-bab5c2b9aa06")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="7cb782ac-b1d0-444c-8c5d-143620377160")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="ba00fa26-c219-42e1-aed2-3a6151217fdb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="bf816678-919d-4d5a-87e8-b673e3e56e8c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="f46a487b-abf2-4b88-98b9-22d713fa9280")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="9f7b8a04-4b52-4583-947d-1ab03f37dce9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="6dc749e3-7e3d-4296-bda3-430b989652fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="66a171a0-5748-4b7e-a985-724d3df19329")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="7a7a2969-b8ea-4687-8e90-3cd3a6acc0a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="b0603127-fb43-46dc-a0ef-d72545a5d064")>]

In [11]:
for i in company_tag:
    company=i.text
    company_name.append(company)
company_name[0:10]

['Jubna',
 'tech mahindra ltd',
 'Air Asia India Limited',
 'Amity University',
 'Talent Acceleration Corridor',
 'Aerial Telecom Solutions Pvt. Ltd.',
 'IBM India Pvt. Limited',
 'Delhivery',
 'Eighteen Pixels India Private Limited',
 'HyreFox Consultants Pvt Ltd']

In [12]:
location_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

In [13]:
location_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="01312462-0610-4942-8319-b06e2ddc4149")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="60b7d70c-1b3c-4187-aa35-b7cacfd4d1e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="8caa1044-5895-4aa7-a109-c3c792f0cf0d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="17e27516-60ce-4c3e-843d-884e3bb24b5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="39d56120-d8cf-41ac-9013-1ceab3f72268")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="8da5996f-c981-4fd8-a977-7268da6dfb4b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="739fd701-b94d-4f9f-989d-2169cd8cfe18")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="e5ce580d-9a84-41e4-8e2d-b69c28e8fe19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="c2d6138d-78e4-4ba2-acee-a3e51e293f9d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="737d1b19-04e0-4ccc-a289-3e4bf396a9de")>]

In [14]:
for i in location_tag:
    location=i.text
    job_location.append(location)
job_location[0:10]

['Noida',
 'Noida',
 'Delhi NCR, Gurgaon',
 'Faridabad, Delhi NCR, Ghaziabad',
 'Delhi/NCR Delhi NCR, Noida',
 'Pune, Bengaluru, Gurgaon',
 'Gurgaon Gurugram',
 'Gurgaon',
 'Delhi NCR',
 'Gurgaon']

In [15]:
experience_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

In [16]:
experience_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="005029b2-fedf-4a29-8d62-29d3bdb90bd9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="c96eeaaf-daf7-4f13-9e2b-a6986341958d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="828708ef-7a7b-4789-a8cb-ea46fe187af0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="94a14ff7-298d-4c45-a5ec-fdc5adc825b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="083ba017-57f5-4bbc-afff-afd0c480bc73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="c11df88c-533d-47d5-bf52-088ac86aa09e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="0bdadc9c-5251-4f20-b2a0-df12933c4827")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="016f8b43-4592-474c-94cd-2fa7a46d90b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="742482b6-4cf2-457c-8652-839b5efcbb2f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c141cbf429aab6026c8beb7e2db9339", element="0b63645b-dbaa-47ff-a808-b01512f0b522")>]

In [17]:
for i in experience_tag:
    experience=i.text
    experience_required.append(experience)
experience_required[0:10]

['5-8 Yrs',
 '5-10 Yrs',
 '1-6 Yrs',
 '6-8 Yrs',
 '6-11 Yrs',
 '3-8 Yrs',
 '3-5 Yrs',
 '1-3 Yrs',
 '2-6 Yrs',
 '3-5 Yrs']

In [18]:
print(len(job_title),len(company_name),len(job_location),len(experience_required))

20 20 20 20

In [19]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_title
jobs['company']=company_name
jobs['location']=job_location
jobs['experience']=experience_required

In [20]:
jobs

,title,company,location,experience
0,Data Scientist - Python/Machine Learning,Jubna,Noida,5-8 Yrs
1,Tech Mahindra hiring For Data Scientist- Noida,tech mahindra ltd,Noida,5-10 Yrs
2,Data Scientist - Commercial Planning and Analysis,Air Asia India Limited,"Delhi NCR, Gurgaon",1-6 Yrs
3,Data Scientist,Amity University,"Faridabad, Delhi NCR, Ghaziabad",6-8 Yrs
4,Data Scientist - Machine Learning/ Artificial ...,Talent Acceleration Corridor,"Delhi/NCR Delhi NCR, Noida",6-11 Yrs
5,GCP Skilled Analytics Resources (Data engineer...,Aerial Telecom Solutions Pvt. Ltd.,"Pune, Bengaluru, Gurgaon",3-8 Yrs
6,Data Scientist,IBM India Pvt. Limited,Gurgaon Gurugram,3-5 Yrs
7,Data Scientist Machine Learning,Delhivery,Gurgaon,1-3 Yrs
8,Data Scientist,Eighteen Pixels India Private Limited,Delhi NCR,2-6 Yrs
9,Business Analyst - Data Scientist,HyreFox Consultants Pvt Ltd,Gurgaon,3-5 Yrs
10,Analyst - Data Scientist,HyreFox Consultants Pvt Ltd,Gurgaon,1-3 Yrs
11,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,"Delhi NCR, Noida, Gurgaon",0-0 Yrs
12,Senior Data Scientist,iNICU,Delhi,1-5 Yrs
13,Data Scientist,Sentieo,Delhi,2-7 Yrs
14,Data Scientist,Mahajan Imaging,Delhi,2-6 Yrs
15,Data Scientist,Mahajan Imaging,Delhi,2-6 Yrs
16,Data Scientist,World Wide Technology,Gurgaon,3-8 Yrs
17,Data Scientist,T & A Solutions,Gurgaon,1-6 Yrs
18,Data Scientist,itForte Staffing Services Private Ltd.,Gurgaon,3-8 Yrs
19,Lead Data Scientist,NEC CORPORATION INDIA PRIVATE LTD,"Delhi NCR, Noida(Sector-142 Noida)",9-14 Yrs