In [1]:
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
driver=webdriver.Chrome(r'C:\Users\DELL\Downloads\chromedriver.exe')

In [3]:
url='https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn'

In [4]:
driver.get(url)

In [5]:
company_name=[]
min_salary=[]
max_salary=[]
Avg_salary=[]

In [6]:
name_tag=driver.find_elements_by_xpath("//p[@class='m-0 ']")

In [7]:
name_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="9b5dc315-5c47-4458-b205-345432a1117a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="e1b48fea-5de2-48c8-aaa0-9fe310b9974e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="b9decce8-58cc-4f45-b3c0-cc43a7797734")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="dcb1c450-1587-414a-b4db-97d5deec658c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="abdcba7c-46bb-498d-a816-04f53ac7af70")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="609c2f14-3d34-4b33-94d5-58c17bdb174d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="fe302ccc-200b-48d6-a06f-f9c116a9b0b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="6205ed76-7a1b-4014-83a7-91302079787f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="94e3a9c1-bc59-48cf-ab52-3db71eeb84fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="b9dd9541-3908-4c4b-a3dd-0d4663987fe5")>]

In [8]:
for i in name_tag:
    name=i.text
    company_name.append(name)
company_name[0:10]

['Delhivery',
 'Ericsson-Worldwide',
 'Accenture',
 'Tata Consultancy Services',
 'IBM',
 'UnitedHealth Group',
 'Valiance Solutions',
 'Innovaccer',
 'Cognizant Technology Solutions',
 'ZS Associates']

In [12]:
min_tag=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[1]")

In [13]:
min_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="8a4df32d-5c63-4071-b2a9-c161cb836147")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="b2d88c4f-bb92-4a1b-8eda-03d1587f9b6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="c207783e-99c3-4525-beac-ab1ec43b36bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="535e237f-2ceb-4fdb-a6b8-0f9766a9edd6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="0f4db56e-79ae-42bb-8d43-505ce1e67b07")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="e8b5b2e3-3144-4232-bb34-a5e16c55f3a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="8bfeb965-fd88-465d-9125-8e3db6274dce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="dffc029a-259d-4879-9690-fe8766f642a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="ebcc0f0b-bbda-4df4-bcd3-ecf580fc88db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="e2780a6e-724e-44df-b22f-6b2a795aaf34")>]

In [14]:
for i in min_tag:
    min=i.text
    min_salary.append(min)
min_salary[0:10]

['₹456K',
 '₹420K',
 '₹585K',
 '₹336K',
 '₹595K',
 '₹727K',
 '₹509K',
 '₹629K',
 '₹804K',
 '₹205K']

In [15]:
max_tag=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[2]")

In [16]:
max_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="904476ef-8932-49c1-8e55-9cc9241a1dea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="699cc021-5053-47d0-b9a6-54152f47adc8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="a5d6bf6a-442e-4843-8c35-5500e9c08050")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="76376852-2a5b-4903-bbef-94f1cbab6d50")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="8365622b-4e30-4131-bb1b-324b12b2287f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="62ccaab0-34bd-4d8a-9dde-7eb73ca96f53")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="5a25b675-1c6a-4024-8d1a-9f8ad73f2604")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="f72e767d-a498-4544-9236-494d4b832b87")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="b641e69c-596e-4698-ad61-c432459a8946")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="d72c68b5-8781-486f-bdcd-27fe30ec1337")>]

In [17]:
for i in max_tag:
    max=i.text
    max_salary.append(max)
max_salary[0:10]

['₹11,789K',
 '₹1,636K',
 '₹2,200K',
 '₹1,024K',
 '₹2,769K',
 '₹1,597K',
 '₹1,168K',
 '₹1,719K',
 '₹1,281K',
 '₹1,835K']

In [18]:
avg_tag=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")

In [19]:
avg_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="bbfd22b2-63f2-4151-a314-2e974d0fd0ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="f02ea441-b439-46f3-8810-bec04b2d4eef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="b40215cf-68ee-43e5-b433-c13607f74e60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="4cea6a3e-739f-403b-9f5a-4afd2c28d454")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="3f83613f-5826-4aa1-80e7-db4b4625b1de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="735af170-998c-473b-a1b2-dc7e06ab149a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="86ee99a0-14c5-4b22-aa60-ceac56d95c55")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="74696391-8428-410c-af3f-7ab727fbba6f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="e553febd-1b07-4e17-b56e-383fa280af70")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3d2bfe9efeff1fa3671ebdeee9975d6c", element="39e168b8-74d9-407b-a8bd-4357d0a668b6")>]

In [21]:
for i in avg_tag:
    avg=i.text
    Avg_salary.append(avg)
Avg_salary[0:10]

['₹ 12,81,419\n/yr',
 '₹ 7,52,052\n/yr',
 '₹ 9,98,925\n/yr',
 '₹ 6,02,000\n/yr',
 '₹ 7,71,657\n/yr',
 '₹ 12,22,902\n/yr',
 '₹ 7,91,015\n/yr',
 '₹ 12,15,138\n/yr',
 '₹ 10,21,889\n/yr',
 '₹ 10,00,000\n/yr']

In [22]:
print(len(company_name),len(max_salary),len(min_salary),len(Avg_salary))

20 20 20 20

In [23]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['company']=company_name
jobs['minimum salary']=min_salary
jobs['maximum salary']=max_salary
jobs['average salary']=Avg_salary

In [24]:
jobs

,company,minimum salary,maximum salary,average salary
0,Delhivery,₹456K,"₹11,789K","₹ 12,81,419\n/yr"
1,Ericsson-Worldwide,₹420K,"₹1,636K","₹ 7,52,052\n/yr"
2,Accenture,₹585K,"₹2,200K","₹ 9,98,925\n/yr"
3,Tata Consultancy Services,₹336K,"₹1,024K","₹ 6,02,000\n/yr"
4,IBM,₹595K,"₹2,769K","₹ 7,71,657\n/yr"
5,UnitedHealth Group,₹727K,"₹1,597K","₹ 12,22,902\n/yr"
6,Valiance Solutions,₹509K,"₹1,168K","₹ 7,91,015\n/yr"
7,Innovaccer,₹629K,"₹1,719K","₹ 12,15,138\n/yr"
8,Cognizant Technology Solutions,₹804K,"₹1,281K","₹ 10,21,889\n/yr"
9,ZS Associates,₹205K,"₹1,835K","₹ 10,00,000\n/yr"
10,OYO,₹985K,"₹1,911K","₹ 14,33,387\n/yr"
11,EXL Service,₹583K,"₹1,227K","₹ 11,42,351\n/yr"
12,Optum,₹819K,"₹1,592K","₹ 12,57,579\n/yr"
13,Sprinklr,"₹1,554K","₹3,283K","₹ 15,53,977\n/yr"
14,dunnhumby,₹829K,"₹2,035K","₹ 13,09,262\n/yr"
15,Algo8.ai,₹87K,"₹1,377K","₹ 5,96,779\n/yr"
16,Tech Mahindra,₹478K,"₹1,681K","₹ 10,67,848\n/yr"
17,Publicis Sapient,₹936K,"₹1,807K","₹ 17,00,000\n/yr"
18,Nagarro,₹641K,"₹1,140K","₹ 9,75,474\n/yr"
19,Times Internet,"₹1,442K","₹3,561K","₹ 35,11,792\n/yr"